.statistic_container {
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Bebas Neue";
  margin: 2rem 10rem 5rem 10rem;
}

#stats1 {
  color: var(--primary-yellow);
}

#stats2 {
  color: var(--primary-blue);
}

#stats3 {
  color: var(--primary-grey);
}

.stats {
  text-align: center;
  margin-top: 4em;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.big_stat_titles {
  font-size: 5em;
}

.small_stat_titles {
  font-size: 2em;
}

#events h1 {
  font-size: 3rem;
  text-align: center;
}

#events .secondary_heading {
  margin-bottom: 1rem;
  text-align: center;
}

#upcoming_event_splotlight {
  position: absolute;
  top: 6rem;
  right: 10rem;
  width: 50rem;
  height: 2rem;
  background-color: white;
  transform: scaleX(0);
  transition-duration: 1s;
  border-radius: 1rem;

  box-shadow: 0 1rem 4rem 1rem white;
}

#upcoming_events_container {
  width: 96vw;
  height: 70vh;
  margin: 5vh 2vw;
  display: flex;
}

#upcoming_events_container img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#upcoming_events_content_left {
  width: 65%;
  height: 100%;
}

#upcoming_events_content_right {
  width: 33%;
  margin-left: 2%;
  height: 100%;
}

#upcoming_events_content_right img {
  width: 100%;
  height: 90%;
}

#upcoming_events_content_right_SLOT1 {
  width: 100%;
  height: 60%;
}

#upcoming_events_content_right_SLOT2 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
}

#upcoming_events_content_right_SLOT2 img {
  width: 48%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .stats {
    font-size: smaller;
  }
}

@media only screen and (max-width: 768px) {
  .statistic_container {
    flex-direction: column;
  }

  .stats {
    font-size: initial;
  }

  #events h1 {
    font-size: 2rem;
  }

  #events .secondary_heading {
    font-size: 1.25rem;
  }

  #upcoming_events_container {
    width: 90vw;
    height: auto;
    margin: 5vh auto;
    display: block;
  }

  #upcoming_events_container img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #upcoming_events_content_right,
  #upcoming_events_content_right_SLOT2 {
    height: auto;
    width: 100%;
    margin: 5vh 0;
    display: block;
  }

  #upcoming_events_content_right_SLOT2 img {
    border-radius: 20px;
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  #upcoming_events_content_right_SLOT2 img:first-child {
    margin-bottom: 5vh;
  }

  #upcoming_events_content_left,
  #upcoming_events_content_right_SLOT1 {
    height: 40vh;
    width: 100%;
    margin: 5vh 0;
    display: block;
  }
}
