/*Research & Projects start here*/
.project-research-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

hr.hl {
  border: 1px solid black;
  background-color: #000;
  width: 25%;
}

.project-research-header > p {
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 40px;
  color: #dbb968;
  margin: 0;
}

/*Magazine starts here*/
.fintech-magazine {
  display: flex;
  height: fit-content;
  padding: 3rem 6rem;
}

/*TODO: Fixed font-size*/
.left-container p {
  font-family: "Bebas Neue";
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.left-container img {
  width: 300px;
  height: fit-content;
  margin-top: 1rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.right-container {
  padding-left: 3rem;
}

.title,
.subtitle,
.brief-summary,
.buttons button {
  font-family: "Montserrat", sans-serif;
}

/*TODO: Fixed font-size*/
.title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

/*TODO: Fixed font-size*/
.subtitle {
  font-size: 19px;
  font-weight: 600;
  line-height: 36px;
}

/*TODO: Fixed font-size*/
.brief-summary {
  font-size: 17px;
  font-weight: 400;
  line-height: 33px;
  padding-top: 40px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  gap: 10px;
}

/*TODO: Fixed font-size*/
.buttons button {
  border-radius: 20px;
  background-color: #dbb968;
  width: 250px;
  height: 60px;
  border-style: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.buttons button:last-child {
  background-color: #2b305e;
}

.buttons button:hover {
  text-decoration: underline;
}

/*Podcast starts here*/
.fintech-podcast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  padding: 3rem 6rem;
}

.fintech-podcast p {
  font-family: "Bebas Neue";
  font-size: 40px;
  margin: 0 0 20px;
}

/*Cafefin starts here*/
.cafefin {
  display: flex;
  height: fit-content;
  width: 100%;
  padding: 3rem 6rem;
}

.cafefin .left-container img {
  border-radius: 40px;
}

/*Responsive for Cafefin*/

div.left-container {
  display: flex;
  flex-direction: column;
}

div.right-container {
  display: flex;
  flex-direction: column;
}

div.cafefin {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1080px) {
  .cafefin {
    flex-wrap: wrap;
    padding: 1rem;
  }
  .cafefin p {
    text-align: center;
  }

  .fintech-magazine {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .fintech-magazine p {
    text-align: center;
  }

  .left-container {
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-container img {
    margin-bottom: 1rem;
  }

  .right-container {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title,
  .subtitle {
    text-align: center;
  }

  .fintech-podcast {
    padding: 1rem;
  }
  .fintech-podcast p {
    text-align: center;
  }
}
