html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.dialog-container {
  width: 600px;
  padding: 40px;
  margin: 100px auto;
  top: 50%;
  left: 50%;
  background: #ffffff;
  text-align: center;
}

.dialog-container input[type="submit"] {
  background: #272C55;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #272C55;
  padding: 14px 30px;
  width: 200px;
  outline: none;
  color: #ffffff;
  border-radius: 24px;
  transition: 0.5s;
  cursor: pointer;
}

.dialog-container input[type="text"],
.dialog-container input[type="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #252422;
  padding: 14px 10px;
  width: 300px;
  outline: none;
  color: #252422;
  border-radius: 24px;
  transition: 0.5s;
}

.dialog-container input[type="text"]:hover,
.dialog-container input[type="text"]:focus,
.dialog-container input[type="password"]:hover,
.dialog-container input[type="password"]:focus {
  width: 280px;
  border-color: #272C55;
  background: #fff;
}

.dialog-container input[type="submit"]:hover {
  background: #DBB968;
}

.level {
  margin-bottom:1.5rem;
  font-size: 0.75rem;
}

.level a {
  margin: 0 10px;
  color: #ffffff;
}

/* mouse over link */
.level a:hover {
  color: #272C55;
}

/* selected link */
.level a:active {
  color: #DBB968;
}

.toggle-password-visibility {
  cursor: pointer;
  display: none;
  border: none;
  background: none;
  margin: 0 auto;
}


/* Responsive dialog */
@media only screen and (max-width: 767px) {
  .dialog-container {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .dialog-container input[type="text"], .dialog-container input[type="password"] {
    width: 70%;
  }

  .dialog-container input[type="text"]:focus, .dialog-container input[type="password"]:focus {
    width: 60%;
  }
}
