main {
  margin: 0;
  padding: 5px;
  background-color: #ffffff;
}

#forgot-pw-section {
  font-size: 1rem;
  text-align: center;
}

#forgot-pw-section h1 {
  padding-top: 75px;
}

#forgot-pw-section p {
  padding: 0 30px;
  font-size: 1.2em;
}

#email-phone-input {
  width: 700px;
  background: #c9d6ea;
  transition: 0.5s;
}

#email-phone-input:focus {
  outline: none;
  background: #c9d6ea;
}

#email-phone-input,
#forgot-pw-submit {
  padding: 15px 20px;
  margin: 10px;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
}

#forgot-pw-submit {
  color: #ffffff;
  background: #2b305e;
}

#forgot-pw-submit:hover {
  color: #c9d6ea;
  background: #dbb968;
}

.dialog-container h1 {
  padding: 0 50px;
}

#forgot-pw-input {
  margin: 30px 25px;
}

.dialog-container input[type="text"],
.dialog-container input[type="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #272c55;
  padding: 14px 10px;
  width: 300px;
  outline: none;
  color: #272c55;
  border-radius: 24px;
  transition: 0.5s;
}

.dialog-container input[type="text"]:focus,
.dialog-container input[type="password"]:focus {
  width: 300px;
  border-color: #2b305e;
}

/* Responsive forgot password */
@media only screen and (max-width: 850px) {
  #email-phone-input {
    width: 70%;
  }
}

@media only screen and (max-width: 400px) {
  #email-phone-input,
  .dialog-container input[type="text"],
  .dialog-container input[type="password"] {
    width: 70%;
  }

  .dialog-container input[type="text"]:focus,
  .dialog-container input[type="password"]:focus {
    width: 60%;
  }
}
