@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

.title {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 0;
  font-family: "Bebas Neue";
  color: #2b305e;
  font-size: 60px;
  letter-spacing: 3px;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 70px;
}

.subtitle > p {
  font-family: "Bebas Neue";
  color: #dbb968;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.subtitle:first-of-type .hl {
  width: 75%;
  margin-left: 0;
}

.subtitle .hl {
  width: 80%;
  background-color: #dbb968;
  height: 1px;
  border: 1px solid #dbb968;
  border-radius: 50px;
  margin-right: 70px;
}

.events-list {
  width: 100%;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-startz;
}

.month {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  margin: 0;
  color: #2b305e;
  margin-top: 20px;
}

.event {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: fit-content;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px 0;
  font-family: "Montserrat";
}

.event .left {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left .date {
  color: #000000;
  font-size: 55px;
  font-weight: 600;
  margin: 0;
}

.left .day {
  font-size: 35px;
  margin: 0;
}

.event .mid {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.mid .event-name {
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  color: #2b305e;
}

.mid .event-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

.mid .event-info > p {
  font-size: 25px;
  font-weight: 400;
}

.mid .event-info > i {
  color: #dbb968;
  font-size: 30px;
  margin-right: 20px;
}

.mid .event-info:last-child > i {
  margin-left: 4px;
  padding-right: 5px;
}

.mid p {
  font-size: 20px;
}

.event .right {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right button {
  border: none;
  border-radius: 50px;
  background: #dbb968;
  color: #fff;
  height: 60px;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.right button:last-child {
  width: fit-content;
  margin-left: 20px;
  padding: 0 20px;
  background-color: #2b305ed9;
}

.right button:first-child:hover {
  text-decoration: underline;
}

.right button:last-child:hover {
  color: #dbb968;
}

.right button i {
  margin-right: 13px;
  font-size: 25px;
}

/*Popup window starts here*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #2b305e;
  margin: auto;
  margin-top: 100px;
  padding: 0;
  border: 1px solid #888;
  border-radius: 10px 10px 0px 0px;
  width: 90%;
  font-family: "Montserrat";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header {
  padding: 1px 16px;
  background-color: #2b305e;
  color: #dbb968;
  letter-spacing: 2px;
  border-radius: 10px 10px 0px 0px;
  margin-left: 30px;
}

.modal-body {
  padding: 2px 16px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.modal-body > p {
  width: 75%;
  text-align: justify;
  padding-left: 30px;
}

.modal-body > img {
  width: 20%;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 16px;
  background-color: #2b305e;
  color: white;
  margin-left: 30px;
  margin-bottom: 15px;
}

.modal-footer > i {
  font-size: 30px;
  color: #dbb968;
}

.modal-footer a {
  text-decoration: none;
  color: #fff;
  padding-left: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
}

.modal-footer a:hover {
  text-decoration: underline;
}

.modal-footer a:visited {
  text-decoration: none;
  color: #fff;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close {
  color: #fff;
  float: right;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
}

.close:hover,
.close:focus {
  color: #dbb968;
  text-decoration: none;
  cursor: pointer;
}
