h1 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 0px;
  font-family: 'Bebas Neue';
  color: #2B305E;
  font-size: 65px;
  font-weight: 600;
  letter-spacing: 4px;
}

.header {
  width: 100%;
  font-family: 'Montserrat';
  position: relative;
}

.header>h2 {
  color: #DBB968;
  font-size: 30px;
  float: right;
  margin-right: 200px;
}

.header>img {
  position: absolute;
  float: left;
  margin-left: 100px;
  z-index: 1;
}

.calendar {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.calendar iframe {
  width: 90%;
  height: 100vh;
  margin-top: -15px;
}
