#moments {
  padding: 2rem;
  max-width: 100%;
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*added*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*added*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  #moments {
    padding: 1rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header hr.hl {
  border: 1px solid black;
  background-color: #000;
  width: 25%;
}

.header p {
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 40px;
  color: #dbb968;
}

.moment {
  margin: 1rem auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 5% 75%;
  grid-template-columns: 20% 5% 75%;
}

@media only screen and (max-width: 900px) {
  .moment {
    width: 100%;
    -ms-grid-columns: (minmax(100%, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.moment .left h2 {
  font-family: "Bebas Neue";
  font-size: 32px;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
  .moment .left h2 {
    text-align: center;
    font-size: 36px;
  }
}

.moment .divider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin: 0 1rem;
}

.moment .divider .circle {
  width: 25px;
  height: 25px;
  border: 1px solid #77878b;
  border-radius: 50%;
}

.moment .divider .line {
  border-left: 1px solid #77878b;
  height: 100%;
}

@media only screen and (max-width: 900px) {
  .moment .divider {
    display: none;
  }
}

.moment .right {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.moment .right h2 {
  font-size: 18px;
  width: 100%;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
  .moment .right h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  .moment .right {
    padding-left: 0;
  }
}

.moment .right .content {
  width: 100%;
  padding-left: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.moment .right .content p {
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .moment .right .content {
    padding-left: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .moment .right .content img {
    margin: 1rem 0;
    width: 100%;
  }
  .moment .right .content p {
    font-size: 18px;
    text-align: center;
  }
}

.moment img {
  border-radius: 15px;
  width: 90%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 5px;
}
/*# sourceMappingURL=moments.css.map */
