#moments {
  padding: 2rem;
  max-width: 100%;
  font-family: "Montserrat";
  display: flex; /*added*/
  flex-direction: column; /*added*/
  justify-content: center;

  @media only screen and (max-width: 900px) {
    padding: 1rem;
  }
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  hr.hl {
    border: 1px solid black;
    background-color: #000;
    width: 25%;
  }
  p {
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 40px;
    color: #dbb968;
  }
}

.moment {
  margin: 1rem auto;
  width: 90%;
  display: grid;
  grid-template-columns: 20% 5% 75%;
  .left {
    h2 {
      font-family: "Bebas Neue";
      font-size: 32px;
      font-weight: 500;
      text-align: right;
      text-transform: uppercase;

      @media only screen and (max-width: 900px) {
        text-align: center;
        font-size: 36px;
      }
    }
  }
  .divider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0 1rem;
    .circle {
      width: 25px;
      height: 25px;
      border: 1px solid #77878b;
      border-radius: 50%;
    }
    .line {
      border-left: 1px solid #77878b;
      height: 100%;
    }
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  .right {
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    h2 {
      font-size: 18px;
      width: 100%;
      padding-bottom: 1rem;
      @media only screen and (max-width: 900px) {
        text-align: center;
      }
    }
    .content {
      width: 100%;
      margin-left: 0.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      p {
        font-size: 22px;
      }
      @media only screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          margin: 1rem 0;
          width: 100%;
        }
        p {
          font-size: 18px;
          text-align: center;
        }
      }
    }

    @media only screen and (max-width: 900px) {
      margin-top: 1rem;
      padding-left: 0;
    }
  }

  img {
    border-radius: 15px;
    width: 90%;
    height: auto;
    object-fit: contain;
    margin: 5px;
  }

  @media only screen and (max-width: 900px) {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}
