/*Navbar starts here*/
header {
  display: block;
  margin: auto;
  position: absolute;
  height: 80px;
  width: 100%;
  background-color: rgba(43, 48, 94, 0.85);
  top: 0;
  left: 0;
  right: 0;
}

header nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  width: 60vw;
  padding-left: 0;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

header nav ul li a:hover {
  color: #DBB968;
  font-size: 20px;

}

header nav ul li #home,
header nav ul li #projects,
header nav ul li #events {
  color: #DBB968;

}

header>.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -55px;
  margin-right: 60px;
}


header>.btns button {
  position: relative;
  text-align: center;
  text-decoration: none;
  background-color: #DBB968;
  border: none;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.btns #wallet {
  margin-left: 20px;
  background-color: #2B305E;
  width: fit-content;
  padding: 0 20px;
}

.btns button:hover {
  text-decoration: underline;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #E5E5E5;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 70px;
  width: 85px;
}

#logo>img {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}

/*Footer starts here*/
footer {
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: fit-content;
  background-color: #1E2833;
  margin-top: 100px;
  color: #fff;
  padding: 20px 0;
}

.left-footer {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-footer>p {
  font-family: 'Bebas Neue';
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
  letter-spacing: 1px;
}

.left-footer ul {
  column-count: 2;
  column-gap: 40px;
  column-width: auto;
  padding: 0;
  margin: 0
}

.left-footer ul li {
  list-style: none;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}

.left-footer ul li:hover {
  text-decoration: underline;
}

.left-footer img {
  height: 100px;
  width: fit-content;
}

.mid-footer {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid-footer a {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding-bottom: 70px;
  padding-top: 60px;
}

.mid-footer a:hover {
  text-decoration: underline;
}

.mid-footer p:first-of-type {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0;
}

.mid-footer p:last-of-type {
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  line-height: 80px;
  margin: 0;
}

.right-footer {
  width: 20%;
  margin-right: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 30px;
}

.right-footer i {
  font-size: 30px;
  cursor: pointer;
}

/*Responsive*/
