header {
  display: block;
  margin: auto;
  height: 80px;
  width: 100%;
  background-color: #2b305e;
  top: 0;
  left: 0;
  right: 0;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 60vw;
  padding-left: 0;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

header nav ul li a:hover {
  color: #dbb968;
}

header nav ul li #home {
  color: #dbb968;
}

header nav ul li #projects {
  color: #dbb968;
}

header > button {
  display: block;
  position: relative;
  float: right;
  margin-top: -55px;
  margin-right: 80px;
  text-align: center;
  text-decoration: none;
  background-color: #dbb968;
  border: none;
  border-radius: 25px;
  width: 120px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #e5e5e5;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 70px;
  width: 85px;
}

#logo > img {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1e2833;
  color: #fff;
}

footer .left {
  padding: 1rem;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .left > p {
  font-family: "Bebas Neue";
  font-size: 26px;
  letter-spacing: 1px;
  margin-top: 0.5rem;
}

footer .left ul {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -webkit-column-width: auto;
          column-width: auto;
  padding: 0;
}

footer .left ul li {
  list-style: none;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}

footer .left ul li:hover {
  text-decoration: underline;
}

footer .left img {
  height: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  footer .left {
    width: 100%;
  }
}

footer .mid {
  padding: 1rem;
  width: 50%;
}

footer .mid a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

footer .mid .email {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

footer .mid .address {
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

footer .mid .copyright {
  margin-top: 1rem;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  footer .mid {
    width: 100%;
    text-align: center;
  }
}

footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem;
  width: 25%;
}

footer .right a {
  font-size: 30px;
  padding: 15px;
}

footer .right a:hover, footer .right a:visited, footer .right a:active {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  footer .right {
    width: 100%;
  }
}
/*# sourceMappingURL=navbar-footer.css.map */

/*Navbar fixed responive*/

@media screen and (max-width: 1100px) {
  header > button {
    margin-right: 50px;
  }
}

@media screen and (max-width: 950px) {
  header > button {
    margin-right: 20px;
  }
}

@media screen and (max-width: 850px) {
  .af{
    margin-left: -100px;
    width: 50px;
  }

  .bf{
    margin-left: -100px;
    width: 50px;
  }

  #logo {
    margin-left: -100px;
    width: 80px;
  }
}

@media screen and (max-width: 750px) {
  #logo {
    width: 0.000000000001px;
  }

  #logo > img {
    display: none;
  }
  
  .af {
    margin-right: 90px;
  }

  .bf{
    margin-right: 90px;
  }
}

/*Phone screen size*/

/*Navbar*/
@media screen and (max-width: 570px) {
    .bf {
      padding-right: 10px;
      padding-left: 10px; 
    }
  
    .af {
      padding-left: 10px;
      padding-right: 15px;
    }

    li{
      margin-left: 10px;
    }
    header{
        height: 125px;
    }

    p{
      display: none;
    }

    div.content_white_line{
    display: none;
    }

    header > button {
      margin-top: -5px;
      margin-right: 200px;
    }
  }

  @media screen and (max-width: 860px){
    .circle-primary-blue-s {
      display: none;
    }
  }

  @media screen and (max-width: 600px){
    .af {
      padding-left: 10px;
      padding-right: 10px;
    }

    .bf {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media screen and (max-width: 479px){
    header{
      display: none;
    }
  }

/*Fintech Club Slogan Resposive (fixed)*/

div.primary_heading{
  margin-top: -100px;
  margin-left: -90px;
}

div.secondary_heading{
  margin-top: 30px;
  margin-left: -90px;
}

div#main_description{
  margin-left: -90px;
}

div#header_left{
  padding-bottom: 50px;
}

@media screen and (max-width: 360px){

  div.circle-primary-blue{
    display: none;
  }

  div.primary_heading{
    margin-top: -20px;
    margin-left: -150px;
  }

  div.secondary_heading{
    margin-top: 30px;
    margin-left: -150px;
  }

  div#main_description{
    margin-left: -150px;
  }
}
/* 1 2 3 4 button*/

@media screen and (max-width: 750px){

  button#squareBtn1.square-btn{
    display: none;
  }

  button#squareBtn2.square-btn{
    display: none;
  }

  button#squareBtn3.square-btn{
    display: none;
  }

  button#squareBtn4.square-btn{
    display: none;
  }
}