:root {
  --primary-yellow: rgb(219, 185, 104);
  --primary-blue: rgb(43, 48, 94);
  --primary-grey: #77878b;
  --light-blue: #c9d6ea;
}

/* ------------------------------------------------- */
/* Basics */

button {
  background-color: var(--primary-yellow);
}

button {
  border: none;
}

/* ------------------------------------------------- */
/* Tools */

/* .flex {
  display: flex;
} */

/*.flex_centerX {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

/*.flex_centerY {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.flex_centerXY {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

.overlay {
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.primary-heading {
  color: var(--primary-yellow);
  font-size: 3rem;
  font-family: "Montserrat";
  letter-spacing: 0.4rem;
}

.circle-light-blue,
.circle-primary-blue,
.circle-primary-yellow {
  position: absolute;
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
}

.circle-light-blue-s,
.circle-primary-blue-s,
.circle-primary-yellow-s {
  position: absolute;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
}

.circle-light-blue,
.circle-light-blue-s {
  background-color: var(--light-blue);
}

.circle-primary-blue,
.circle-primary-blue-s {
  background-color: var(--primary-blue);
}

.circle-primary-yellow,
.circle-primary-yellow-s {
  background-color: var(--primary-yellow);
}

.content_white_line {
  background-color: white;
}

/* ------------------------------------------------- */
/* Header */

#slogan {
  height: 100%;
  box-shadow: 0 0.1rem 1rem 0 black;
  z-index: 2;
  position: relative;
}

#header_left {
  width: auto;
  padding: 1rem;
  padding-top: 8rem;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#header_right {
  width: 50%;
  height: 100%;

  position: relative;
  z-index: 1;

  background-image: url(../../assets/images/banner-main-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0 0 5rem 0 black;
}

#header_sign {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  width: 60%;
}

#header_sign .content_white_line {
  width: 100%;
  height: 0.2rem;
}

#header_sign p {
  float: right;
  font-family: "Montserrat";
  font-size: 1.5rem;
  color: white;

  margin: 2rem 0;
}

#slogan {
  font-family: "Bebas Neue";
  color: var(--primary-blue);
}

#main_description {
  font-size: 1.25rem;
  font-family: "Montserrat";
  margin: 5rem auto;
  display: flex;
  width: 75%;
}

#signup {
  width: 100%;
}

#main_email_input {
  font-family: "Montserrat";
  font-size: 1rem;

  flex-basis: 70%;
  background-color: #f1f1f1;
  padding: 1rem 2rem;

  border-radius: 2rem 0 0 2rem;
}

#signup button {
  font-family: "Montserrat";
  font-size: 1rem;
  color: white;
  flex-basis: 30%;
  border-radius: 0 2rem 2rem 0;
}

@media screen and (max-width: 768px) {
  .primary-heading {
    font-size: 2rem;
  }

  #main_description {
    margin-left: auto;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .circles {
    display: none;
  }
}

#header_left .circle-light-blue {
  top: 4rem;
  left: -5rem;
  z-index: 3;
}

#header_left .circle-primary-blue {
  top: 9rem;
  left: 0.5rem;
  z-index: 2;
}

#header_left .circle-primary-yellow {
  top: 15rem;
  left: -6rem;
  z-index: 1;
}

#header_left .circle-light-blue-s {
  top: -0.5rem;
  left: 3rem;
}

#header_left .circle-primary-blue-s {
  top: 9rem;
  left: 10rem;
}

#header_left .circle-primary-yellow-s {
  top: 22rem;
  left: 2rem;
  z-index: 2;

  border: 0.3rem solid white;
}

/* ------------------------------------------------- */
/* Upcoming Events */

.statistic_container {
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Bebas Neue";
  margin: 2rem 10rem 5rem 10rem;
}

#stats1 {
  color: var(--primary-yellow);
}

#stats2 {
  color: var(--primary-blue);
}

#stats3 {
  color: var(--primary-grey);
}

.stats {
  text-align: center;
  margin-top: 4em;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.big_stat_titles {
  font-size: 5em;
}

.small_stat_titles {
  font-size: 2em;
}

#events h1 {
  font-size: 3rem;
  text-align: center;
}

#events .secondary_heading {
  margin-bottom: 1rem;
  text-align: center;
}

#upcoming_event_splotlight {
  position: absolute;
  top: 6rem;
  right: 10rem;
  width: 50rem;
  height: 2rem;
  background-color: white;
  transform: scaleX(0);
  transition-duration: 1s;
  border-radius: 1rem;

  box-shadow: 0 1rem 4rem 1rem white;
}

#upcoming_events_container {
  width: 96vw;
  height: 70vh;
  margin: 5vh 2vw;
  display: flex;
}

#upcoming_events_container img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#upcoming_events_content_left {
  width: 65%;
  height: 100%;
}

#upcoming_events_content_right {
  width: 33%;
  margin-left: 2%;
  height: 100%;
}

#upcoming_events_content_right img {
  width: 100%;
  height: 90%;
}

#upcoming_events_content_right_SLOT1 {
  width: 100%;
  height: 60%;
}

#upcoming_events_content_right_SLOT2 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
}

#upcoming_events_content_right_SLOT2 img {
  width: 48%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .stats {
    font-size: smaller;
  }

  /* #upcoming_events_container {
    flex-direction: column;
  }

  #upcoming_events_content_left {
    margin-bottom: 2rem;
  }

  #upcoming_events_content_right_SLOT1 img,
  #upcoming_events_content_left img,
  #upcoming_events_content_right_SLOT2 img {
    border-radius: 1.5rem;
  } */
}

@media only screen and (max-width: 768px) {
  .statistic_container {
    flex-direction: column;
  }

  .stats {
    font-size: initial;
  }

  #events h1 {
    font-size: 2rem;
  }

  #events .secondary_heading {
    font-size: 1.25rem;
  }

  #upcoming_events_container {
    width: 90vw;
    height: auto;
    margin: 5vh auto;
    display: block;
  }

  #upcoming_events_container img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #upcoming_events_content_right,
  #upcoming_events_content_right_SLOT2 {
    height: auto;
    width: 100%;
    margin: 5vh 0;
    display: block;
  }

  #upcoming_events_content_right_SLOT2 img {
    border-radius: 20px;
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  #upcoming_events_content_right_SLOT2 img:first-child {
    margin-bottom: 5vh;
  }

  #upcoming_events_content_left,
  #upcoming_events_content_right_SLOT1 {
    height: 40vh;
    width: 100%;
    margin: 5vh 0;
    display: block;
  }
}