html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.column {
  height: 100%;
  width: 100%;
}

.column-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.main-header-1 {
  color: #2B305E;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
}
.main-header-2 {
  color: white;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.sub-header-1 {
  color: #DBB968;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
}
.sub-header-2 {
  color: white;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10rem;
}

.line {
  width: 100px;
  height: 0px;
  border-bottom: 2px solid #77878B;
}

.sub-h-w-lines {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-2-header {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.primary-btn {
  border-radius: 15px;
  color: white;
  background-color: #DBB968;
  font-family: "Montserrat", sans-serif;
  padding: 10px 24px;
  border: none;
}
.primary-btn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
  cursor: pointer;
}

.square-btn-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  margin-right: 60px;
  position: absolute;
  bottom: -7rem;
}

.square-btn {
  border-radius: 0;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 90px;
  transform: rotate(-90deg);
  height: 100px;
  width: 100px;
  border: none;
}
.square-btn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
  cursor: pointer;
}

#squareBtn1 {
  background-color: #2B305E;
}
#squareBtn2 {
  background-color: #DBB968;
}
#squareBtn3 {
  background-color: #C9D6EA;
}
#squareBtn4 {
  background-color: #77878B;
}

.av-btn-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 5rem;
  gap: 10px;
}

.av-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 2.5rem;
  justify-content: center;
  text-align: center;
}

.av-btn-img {
  margin: 0;
  height: 120px;
  width: 120px;
  border-radius: 2.5rem;
}
.av-btn-img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.av {
  height: 250px;
  width: 250px;
  position: relative;
}

.av-position {
  height: 75px;
  width: 75px;
  display: flex;
  z-index: 9;
  position: absolute;
  bottom: 0;
  right: 11rem;
}

.board {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.position {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.board-info-mid {
  display: grid;
  text-align: center;
}

.info-name {
  color: #2B305E;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  margin-bottom: 0.5rem;
}
.info-position {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0.75rem;
}
.info-department {
  font-size: 14px;
  margin-top: 0;
}
.info-contact {
  font-size: 14px;
  margin-top: 0;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.second-page-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.front {
  display: flex;
  grid-template-columns: 1fr 1fr;
  z-index: 9;
  position: relative;
}

.behind {
  background-color: #DBB968;
  width: 100%;
  height: 230px;
  position: absolute;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
