:root {
  --primary-yellow: rgb(219, 185, 104);
  --primary-blue: rgb(43, 48, 94);
  --primary-grey: #77878b;
  --light-blue: #c9d6ea;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  text-decoration: none;
  list-style: none;
}

/* ------------------------------------------------- */
/* Basics */

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
}

button {
  background-color: var(--primary-yellow);
}

button {
  border: none;
}

/* ------------------------------------------------- */
/* Tools */

.flex {
  display: flex;
}

.flex_centerX {
  display: flex;
  justify-content: center;
}

.flex_centerY {
  display: flex;
  align-items: center;
}

.flex_centerXY {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.secondary_heading {
  color: var(--primary-yellow);
  font-size: 2.2rem;
  font-family: "Montserrat";
  letter-spacing: 0.4rem;
}

h1 {
  font-family: "Bebas Neue";
  font-size: 9rem;
  line-height: 8rem;
  font-weight: normal;

  margin-bottom: 2rem;
}

/* ------------------------------------------------- */
/* Decorative Items */

.circle-light-blue,
.circle-primary-blue,
.circle-primary-yellow {
  position: absolute;
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
}

.circle-light-blue-s,
.circle-primary-blue-s,
.circle-primary-yellow-s {
  position: absolute;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
}

.circle-light-blue,
.circle-light-blue-s {
  background-color: var(--light-blue);
}

.circle-primary-blue,
.circle-primary-blue-s {
  background-color: var(--primary-blue);
}

.circle-primary-yellow,
.circle-primary-yellow-s {
  background-color: var(--primary-yellow);
}

.content_white_line {
  background-color: white;
}

/* ------------------------------------------------- */
/* Header */

#slogan {
  height: 100%;
  box-shadow: 0 0 5rem 0rem black;
  z-index: 2;
  position: relative;
}

#header_left {
  width: 50%;
  height: 100%;

  padding: 18rem 15rem;
  overflow: hidden;

  position: relative;
}

#header_right {
  width: 50%;
  height: 100%;

  position: relative;
  z-index: 1;

  background-image: url(../../assets/images/banner-main-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0 0 5rem 0rem black;
}

#header_sign {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  width: 60%;
}

#header_sign .content_white_line {
  width: 100%;
  height: 0.2rem;
}

#header_sign p {
  float: right;
  font-family: "Montserrat";
  font-size: 1.5rem;
  color: white;

  margin: 2rem 0;
}

#slogan {
  font-family: "Bebas Neue";
  font-size: 9rem;
  color: var(--primary-blue);
  line-height: 8rem;
  margin-bottom: 2rem;
}

#main_description {
  font-size: 1.75rem;
  font-family: "Montserrat";

  margin-bottom: 5rem;
  margin-top: 5rem;
}

#signup {
  width: 85%;
}

#main_email_input {
  font-family: "Montserrat";
  font-size: 1.5rem;

  flex-basis: 65%;
  background-color: #f1f1f1;
  padding: 1.5rem 2.5rem;

  border-radius: 2rem 0 0 2rem;
}

#signup button {
  font-family: "Montserrat";
  font-size: 1.5rem;
  color: white;
  flex-basis: 35%;
  border-radius: 0 2rem 2rem 0;
}

#header_left .circle-light-blue {
  top: 4rem;
  left: -5rem;
  z-index: 3;
}

#header_left .circle-primary-blue {
  top: 9rem;
  left: 0.5rem;
  z-index: 2;
}

#header_left .circle-primary-yellow {
  top: 15rem;
  left: -6rem;
  z-index: 1;
}

#header_left .circle-light-blue-s {
  top: -0.5rem;
  left: 3rem;
}

#header_left .circle-primary-blue-s {
  top: 9rem;
  left: 12rem;
}

#header_left .circle-primary-yellow-s {
  top: 22rem;
  left: 2rem;
  z-index: 2;

  border: 0.3rem solid white;
}

/* ------------------------------------------------- */
/* Upcoming Events */

#UPCOMING_EVENTS {
  position: relative;
  height: 75rem;
  width: 100%;

  background-image: url(../../assets/images/upcoming-events-main-image-4.jpg);
  background-size: cover;

  z-index: 1;
  overflow: hidden;
}

#upcoming_left {
  width: 25%;
  height: 100%;
}

#upcoming_right {
  width: 75%;
  height: 100%;
  padding: 10rem;
}

#statistic_1 {
  height: 33.3333333%;
  width: 100%;
  background-color: var(--primary-yellow);
  transform: translateY(-100%);
  transition-duration: 1s;
  box-shadow: 0 0 5rem 0 black;
  position: relative;
  z-index: 3;

  border-radius: 0 0 5rem 0;
}

#statistic_2 {
  height: 33.3333333%;
  width: 100%;
  background-color: var(--light-blue);
  transform: translateY(-200%);
  transition-duration: 1s;
  box-shadow: 0 0 5rem 0 black;
  position: relative;
  z-index: 2;

  border-radius: 0 5rem 5rem 0;
}

#statistic_3 {
  height: 33.3333333%;
  width: 100%;
  background-color: var(--primary-grey);
  transform: translateY(-300%);
  transition-duration: 1s;
  box-shadow: 0 0 5rem 0 black;
  position: relative;
  z-index: 1;

  border-radius: 0 5rem 5rem 0;
}

.statistic_container {
  margin-left: 7.5rem;
}

#upcoming_left .big_stat_titles {
  font-family: "Bebas Neue";
  font-size: 9rem;
  color: white;
  line-height: 8rem;
}

#upcoming_left .small_stat_titles {
  font-family: "Montserrat";
  font-size: 2rem;
  color: white;
}

#upcoming_right h1 {
  color: var(--primary-blue);
}

#upcoming_right .secondary_heading {
  margin-bottom: 2rem;
}

#UPCOMING_EVENTS .overlay {
  background-color: rgb(0, 0, 0, 0.4);
}

#upcoming_event_splotlight {
  position: absolute;
  top: 6rem;
  right: 10rem;
  width: 50rem;
  height: 2rem;
  background-color: white;
  transform: scaleX(0);
  transition-duration: 1s;
  border-radius: 1rem;

  box-shadow: 0 1rem 4rem 1rem white;
}

#upcoming_events_container {
  width: 100%;
  height: 70%;
  margin-top: 8rem;
}

#upcoming_events_content_left {
  flex-basis: 60%;
  margin-right: 2rem;
}

#upcoming_events_content_right_SLOT1 img,
#upcoming_events_content_left img {
  height: 100%;
  width: 100%;
  border-radius: 2.5rem;
  box-shadow: 0 0 5rem 0 black;
  transition-duration: 0.5s;
}

#upcoming_events_content_right_SLOT2 img {
  height: 100%;
  width: 47%;
  border-radius: 2.5rem;
  box-shadow: 0 0 5rem 0 black;
  transition-duration: 0.5s;
}

#upcoming_right img:hover {
  box-shadow: 0 0 5rem 0 white;
}

#upcoming_events_content_right_SLOT2 img:nth-child(1) {
  margin-right: 2rem;
}

#upcoming_events_content_right {
  flex-basis: 38%;
}

#upcoming_events_content_right_SLOT1,
#upcoming_events_content_right_SLOT2 {
  height: 47.75%;
  width: 100%;
}

#upcoming_events_content_right_SLOT1 {
  margin-bottom: 2rem;
}
